{% extends './base.html' %}
{% load widget_tweaks %}
{% block content %}
<style>
    .update-button{
        width: 160px;
        min-height: 46px;
        background-color: #b8f7c7;
        font-size: 18px;
        font-family: monospace;
        color: #000000 ;
        line-height: 38px;
        border: none;
        border-radius: 40px;
        position: absolute;
        left: 80%;
        bottom: 150px;
    }
    #id_time{ 
        background-color: #b8f7c7;
        left:28%;
        top:43%;
        width: 200px;
        position: absolute;
    }
    #id_memo{
        background-color:#b8f7c7;
        left:25%;
        top:58.4%;
        width: 300px;
        position: absolute;
    }
    .yohaku1{
        margin:0px 40px;
    }
    .big{
        background-color: #b8f7c7;
        position: absolute;
        left:25%;
        top: 42%;
        width: 300px;
        height: 50px;
        border-radius: 20px;
    }
    .memo{
        background-color: #b8f7c7;
        position: absolute;
        left:25%;
        top: 58%;
        width: 400px;
        height: 50px;
        border-radius: 20px;

    }
    .tome{
        background-color: #b8f7c7;
        position: absolute;
        left:15%;
        top: 30%;
        width: 650px;
        height: 350px;
        border-radius: 20px;
        opacity: 0.3;
    }

</style>
<div class="tome"></div>

<div class="big"></div>
<form action="" method="POST">
    {% csrf_token %}
    <div class="form-group mb-3">
        <label for="formGroupExampleInput"></label>
        {{ form.time|add_class:"time"}}
    <div>
    <div class="form-group mb-3">
        <label for="formGroupExampleInput"></label>
        {{ form.memo|add_class:"memo"}}
    <div>
    <div>
        <input class="update-button div" type="submit" value="更新する">
    </div>
</form>
{% endblock %}
