{% extends './base.html' %}
{% load widget_tweaks %}
{% block content %}
<h1>編集</h1>
<form action="" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label>{{ form.date.label }}</label>
        {% render_field form.date class+="form-control w-25 mb-4" %}
    </div>
    <div class="form-group">
        <label>{{ form.title.label }}</label>
        {% render_field form.title class+="form-control w-25 mb-4" %}
    </div>
    <div class="form-group">
        <label>{{ form.text.label }}</label>
        {% render_field form.text class+="form-control w-25 mb-4" %}
    </div>
    <div>
        <input class="update-button div" type="submit" value="更新する">
    </div>
</form>
    <a href="{% url 'spdiary:index' %}">戻る</a>
{% endblock %}