{% extends './base.html' %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<style>
    .create{/*編集ボタン*/
      position:absolute;
      background-color:#bbf9c9;
      border-radius: 20px;
      left:72%;
      bottom:35%;
      color:rgb(237, 22, 18);
      font-size:18px;
      font-family: monospace;
      width: 210px;
      line-height: 38px;
      min-height: 48px; 
    }
    .list{/*ホームボタン*/
    border: none;
    position:absolute;
    background-color:#bbf9c9;
    border-radius: 20px;
    left:72%;
    bottom:23%;
    font-size:18px;
    font-family: monospace;
    width: 210px;
    line-height: 38px;
    min-height: 46px;   
    }
    .yohaku{
        margin:8px 45px;
    }

    .photo img{
    object-fit: cover;
    height: 200px;
    width: 200px;
  }

  input[name="query" ]{
    background-color: #FFF ;
    left:67%;
    position: absolute;
    font-size:21px;
    border-radius: 10px;
    top:19%;
  }

    .button{/*検索フォーム*/
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    margin: 1em 0; /* 前後の隙間 */
    padding: 0.6em 1em; /* 塗りの余白 */
    font-size: 1em; /* フォントサイズ */
    background-color: #9dc5a8; ; /* 背景色 */
    border: 0; /* 枠線を消す */
    transition: 0.3s; /* ホバーの変化を滑らかに */
    left:88.4%;
    position: absolute;
    border-radius: 10px; 
    top:16.5%;


  }
  .button:hover {/*検索ボタン*/
  background-color: #7d9f87; ; /* 背景色 */
  }


</style>
<body>
    <div class="big-box"></div>
    <div class="bg-light p-3 p-sm-5 mb-4 border-top">
      <div class="container">
        <h1 class="display-6">Welcome to "Memory Map"</h1>
        <p style="font-size:20px; padding-left:30%;">- PHOTO -</p>
      </div>
    </div>

    <div class="container">
      {% csrf_token%}
      <form action="" method="get">
        <input name="query" value="{{ request.GET.query }}" type="text" placeholder="タイトルで検索"/>
        <button type="submit" class="button">検索する</button>
      </form>
    </div>

  <div class="container">    
  {% for image in image_list %}
  <div class="card mb-4" style="max-width: 540px; left:8%; background-color: #b8f7c7; border-radius:10px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ image.image.url }}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'spdiary:ImageDetail' image.id %}">{{ image.name }}</a></h5>
          <p class="card-text"><small class="text-body-secondary">{{ image.today|date:"m月d日"}}</small></p>
          <h6 class="card-text">{{ image.memo }}</h6>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

<a class="list" href="{% url 'spdiary:list' %}"><span class="yohaku">日記作成 →</span></a>
<a class="create" href="{% url 'spdiary:Image' %}"><span class="yohaku">新規作成　→</span></a>
</body>
{% endblock %}
