{% extends './base.html' %}
{% block content %}
<style>
    .createpage{
    width: 210px;
    min-height: 46px;
    background-color: #f5d4da;
    font-size: 15px;
    font-family: monospace;
    color: #000000 ;
    line-height: 38px;
    border: none;
    border-radius: 40px;
    position: absolute;
    left: 700px;
    bottom: 180px;
    }
    .homepage{
    width: 210px;
    min-height: 46px;
    background-color: #f5d4da;
    font-size: 15px;
    font-family: monospace;
    color: #000000 ;
    line-height: 38px;
    border: none;
    border-radius: 40px;
    position: absolute;
    left: 950px;
    bottom: 180px;    
    }
    .yohaku{
        margin:4px 40px;
    }
    .Main{
        font-family: monospace;
        padding-left:30%;
        font-size:40px;
    }
</style>
<div class="Main">TODOリスト</div> 
<ul>
    <div class="container">
        <table class="table caption-top">
            <!--<caption>TODO</caption>-->
            <thead>
                <tr>
                    <th scope="col">○日付</th>
                    <th scope="col">○メモ</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                <tbody>
                {% for item in object_list %}
                <tr>
                    <th>{{ item.time|date:" m月d日" }}</th>
                    <th>{{ item.memo }}</th>
                    <th><a href="{% url 'spdiary:updatepage' item.pk %}">編集する</a></th>
                    <th><a href="{% url 'spdiary:deletepage' item.pk %}">削除する</a></th>
                </tr>
                {% endfor %}
                </tbody>
            </thead>
        </table>
    </div>            
</ul>
<a class="createpage" href="{% url 'spdiary:createpage' %}"><span class="yohaku">Todoを作成する</span></a>
<a class="homepage" href="{% url 'spdiary:index' %}"><span class="yohaku">ホームへ戻る</span></a>
{% endblock %}