@media screen and (-webkit-min-device-pixel-ratio:0){
.navbar {
    background-color: #fb96be;
}

.Main{
    background-color: #FCE1EC ;
    position: absolute;
    left: 25%;
    transform: translateX(-75%);
    top: 73px;
    width: 650px;
    height: 100px;
    border-radius: 40px;
    
}

.fuwafuwa {
    animation: fuwafuwa-y 1.8s ease-in-out infinite alternate-reverse;
  }
  @keyframes fuwafuwa-y {
    0% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(10%);
    }
  }

.box {
    background-color: #F3ECEC ;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    width: 830px;
    height: 420px;
    border-radius: 40px;
}

.welcome{
    position:absolute;
    padding-top: 80px; 
    left:450px;
    color:rgb(0, 0, 0);
    font-size:30px;
    z-index:999;
    font-family: monospace;
}

.username-font {
    background-color:#f5d4da;
    width: 450px;
    min-height: 46px;
    font-size: 17px;/*フォントサイズ*/
    font-family: monospace;/*字体*/
    line-height: 38px;
    color: #000000 ;
    border: none;
    border-radius: 30px;
    position: absolute;
    left: 50%;/*左辺からの距離*/
    transform: translateX(-50%);
    top: 215px;/*上辺からの距離*/
}


.username{
    font-size: 20px;/*フォントサイズ*/
    font-family: monospace;/*字体*/
    position: absolute;
    left: 560px;/*左辺からの距離*/
    top: 228px;/*上辺からの距離*/
    background-color:#f5d4da;    
}


.password-font {
    width: 450px;
    min-height: 46px;
    font-size: 17px;
    font-family: monospace;
    line-height: 38px;    
    color: #000000 ;
    border: none;
    border-radius: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 390px;/*下辺からの距離*/
    background-color:#f5d4da;
}


.password {
    background-color: #f5d4da;
    font-size: 20px;
    font-family: monospace;
    position: absolute;
    left: 555px;
    bottom: 395px;
}


.login-button {
    width: 200px;
    min-height: 46px;
    background-color: #f5d4da;
    font-size: 20px;
    font-family: monospace;
    color: #000000 ;
    border: none;
    border-radius: 40px;
    position: absolute;
    left: 670px;
    bottom: 300px;
}


.error-massage {
    font-family: sans-serif;
    position: absolute;
    bottom: 20px;
    font-size: 15px;
}

.signup {
    width: 450px;
    min-height: 46px;
    background-color: #f5d4da;
    font-size: 20px;
    font-family: monospace;
    color: #000000 ;
    line-height: 38px;
    border: none;
    border-radius: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 135px;
}


.fake_letter {
    width: 450px;
    min-height: 46px;
    background-color: #f5d4da;
    font-size: 20px;
    font-family: monospace;
    color: #000000 ;
    line-height: 38px;
    border: none;
    border-radius: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 70px;
}


.yohaku{
	margin:0px 140px;
}

.yohaku1{
	margin:0px 80px;
}
}
