@media screen and (-webkit-min-device-pixel-ratio:0){
.box {
    background-color: #F3ECEC ;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    width: 830px;
    height: 420px;    
    border-radius: 40px;
}

.welcome{
    position:absolute;
    padding-top: 80px; 
    left:450px;
    color:rgb(0, 0, 0);
    font-size:30px;
    z-index:999;
    font-family: monospace;
}

.username-font {
    background-color:#f5d4da;
    width: 350px;
    min-height: 46px;
    font-size: 17px;/*フォントサイズ*/
    font-family: monospace;/*字体*/
    line-height: 38px;
    color: #000000 ;
    border: none;
    border-radius: 30px;
    position: absolute;
    left: 360px;/*左辺からの距離*/
    top: 200px;/*上辺からの距離*/
}


.username{
    font-size: 15px;/*フォントサイズ*/
    font-family: monospace;/*字体*/
    position: absolute;
    left: 490px;/*左辺からの距離*/
    top: 210px;/*上辺からの距離*/
    background-color:#f5d4da;    
}

.password-font {
    width: 350px;
    min-height: 46px;
    font-size: 17px;
    font-family: monospace;
    line-height: 38px;    
    color: #000000 ;
    border: none;
    border-radius: 40px;
    position: absolute;
    left: 360px;
    bottom:400px;
    background-color:#f5d4da;
}


.password {
    background-color: #f5d4da;
    font-size: 15px;
    font-family: monospace;
    position: absolute;
    left: 468px;
    bottom: 412px;
}

.again-password-font {
    width: 350px;
    min-height: 46px;
    font-size: 17px;
    font-family: monospace;
    line-height: 38px;    
    color: #000000 ;
    border: none;
    border-radius: 40px;
    position: absolute;
    left: 360px;
    bottom:330px;
    background-color:#f5d4da;
}


.again-password {
    background-color: #f5d4da;
    font-size: 15px;
    font-family: monospace;
    position: absolute;
    left: 468px;
    bottom: 345px;
}


.signup-button {
    width: 200px;
    min-height: 46px;
    background-color: #f5d4da;
    font-size: 20px;
    font-family: monospace;
    color: #000000 ;
    border: none;
    border-radius: 40px;
    position: absolute;
    left: 750px;
    bottom: 290px;
}

.Main{
    background-color: #FCE1EC ;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 73px;
    width: 650px;
    height: 90px;
    border-radius: 40px;
}    

.fake_letter {
    width: 450px;
    min-height: 46px;
    background-color: #f5d4da;
    font-size: 20px;
    font-family: monospace;
    color: #000000 ;
    line-height: 38px;
    border: none;
    border-radius: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 80px;
}

.login {
    width: 450px;
    min-height: 46px;
    background-color: #f5d4da;
    font-size: 20px;
    font-family: monospace;
    color: #000000 ;
    line-height: 38px;
    border: none;
    border-radius: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 145px;
}

.navbar {
    background-color: #fb96be;
}

.yohaku{
	margin:0px 160px;
}

.yohaku1{
	margin:0px 100px;
}
}