{% extends './base.html' %}
{% load widget_tweaks %}
{% block content %}
<style>
    .button{/*作成ボタン*/
        width: 170px;
        min-height: 46px;
        background-color: #b8f7c7;
        font-size: 18px;
        font-family: monospace;
        color: #000000 ;
        line-height: 38px;
        border: none;
        border-radius: 20px;
        position: absolute;
        left: 70%;
        bottom: 35%;
    }
    .back{/*戻るボタン*/
        width: 170px;
        min-height: 46px;
        background-color: #b8f7c7;
        font-size: 18px;
        font-family: monospace;
        line-height: 38px;
        border: none;
        border-radius: 20px;
        position: absolute;
        left: 70%;
        bottom: 25%;
    }

    #id_time{ /*日付*/
        background-color: #b8f7c7;
        left:28%;
        top:42.9%;
        width: 200px;
        position: absolute;
    }
    #id_memo{/*メモ*/
        background-color:#b8f7c7;
        left:25%;
        top:58.9%;
        width: 300px;
        position: absolute;
        border-radius: 20px;
        font-size: 20px;
    }
    .yohaku1{
        margin:0px 40px;
    }
    .memo{/*メモボックス*/
        background-color: #b8f7c7;
        position: absolute;
        left:25%;
        top: 42%;
        width: 300px;
        height: 50px;
        border-radius: 20px;
    }

    .tome{/*背景ボックス*/
        background-color: #b8f7c7;
        position: absolute;
        left:15%;
        top: 30%;
        width: 650px;
        height: 350px;
        border-radius: 20px;
        opacity: 0.3;
    }

</style>

<div class="tome"></div>
<div class="big"></div>
<form method="post">
    {% csrf_token %}
        <div class="form-group mb-3">
            <label for="formGroupExampleInput"></label>
            {{ form.time|add_class:"time"}}
        </div>
        <div class="form-group mb-3">
            <label for="formGroupExampleInput"></label>
            {{ form.memo|add_class:"memo"}}
        </div>
    <input class="button div" type="submit" value="追加する →">
</form>
<a class="back" href="{% url 'spdiary:Listpage'  %}"><span class="yohaku1">戻る →</span></a>

{% endblock %}