{% extends './base.html' %}
{% block content %}
<style>
    .createpage{/*編集ボタン*/
    width: 210px;
    min-height: 46px;
    background-color: #bbf9c9;
    font-size: 18px;
    font-family: monospace;
    line-height: 38px;
    border: none;
    color:rgb(237, 18, 18);
    border-radius: 20px;
    position: absolute;
    left: 65%;
    top: 25%;    
    }
    .homepage{/*ホームボタン*/
    width: 210px;
    min-height: 46px;
    background-color: #b8f7c7;
    font-size: 18px;
    font-family: monospace;
    line-height: 38px;
    border: none;
    border-radius: 20px;
    position: absolute;
    left: 65%;
    top: 14%;    
    }
    .yohaku{
        margin:4px 40px;
    }

    .form-check{
    left:5%;
    }

    input[name="query" ]{
    background-color: #ffffff;;
    left:65%;
    position: absolute;
    font-size:21px;
    border-radius: 10px;
    top:38%;
  }

    .button{/*検索フォーム*/
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    margin: 1em 0; /* 前後の隙間 */
    padding: 0.6em 1em; /* 塗りの余白 */
    font-size: 1em; /* フォントサイズ */
    background-color: #9dc5a8; ; /* 背景色 */
    border: 0; /* 枠線を消す */
    transition: 0.3s; /* ホバーの変化を滑らかに */
    position: absolute;
    border-radius: 10px; 
    top:35%;
    left:88%;

  }
  .button:hover {/*検索ボタン*/
  background-color: #7d9f87; ; /* 背景色 */
  }

</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<body>
    <div class="big-box"></div>
    <div class="bg-light p-3 p-sm-5 mb-4 border-top">
    <div class="container">
      <h1 class="display-6">Welcome to "Memory Map"</h1>
      <p style="font-size:20px; padding-left:30%;">- TODO -</p>
    </div>
    </div>

    <div class="container">
    <form action="" method="get">
        <input name="query" value="{{ request.GET.query }}" type="text" placeholder="メモを検索"/>
        <button type="submit"class="button">検索する</button>
    </form>
    </div>  
     
    <ul>
        <div class="container">
            <table class="table caption-top my-5">
            <!--<caption>TODO</caption>-->
                <thead>
                    <tr>
                        <th scope="col">○DONE</th>
                        <th scope="col">○DATE</th>
                        <th scope="col">○MEMO</th>
                        <th scope="col"></th>
                    </tr>
                    <tbody>
                    {% for item in object_list %}
                    <tr>
                        <th><div class="form-check">
                            <input class="form-check-input position-static" type="checkbox">
                          </div></th>
                        <th>{{ item.time|date:" m月d日" }}</th>
                        <th>{{ item.memo }}</th>
                        <th><a href="{% url 'spdiary:updatepage' item.pk %}">編集する</a></th>
                        <th><button type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal-{{item.pk}}">削除する</button>
                            {% include 'todo/deletepage.html' %}</th>
                    </tr>
                    {% endfor %}
                    </tbody>
                </thead>
            </table>
        </div>            
    </ul>
<a class="createpage" href="{% url 'spdiary:createpage' %}"><span class="yohaku">新規作成 →</span></a>
<a class="homepage" href="{% url 'spdiary:list' %}"><span class="yohaku">日記 →</span></a>
{% endblock %}
</body>